<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Tickets List')}"></head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">
            <!-- Title -->
            <h1 class="text-light text-center mt-5"><i class="bi bi-ticket-fill"></i> Tickets List</h1>

            <table class="table mt-5 table-dark">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Body</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                        <td>[[*{title}]]</td>
                        <td>[[*{body}]]</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>