<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('User Details')}"></head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">

            <!-- Title -->
            <h1 class="text-light text-center mt-5"><i class="bi bi-person-lines-fill"></i> User Details</h1>
            <!-- End Title -->

            <!-- Ticket Card -->
            <div class="mx-auto card my-5 col col-12 col-sm-10 col-md-8 col-lg-4 text-bg-dark border-light"
                th:object="${user}">
                <div class="card-body">
                    <h5 class=" card-title">Username</h5>
                    <div class="card card-body text-dark mt-3">
                        <p class="card-text">[[*{userName}]]</p>
                    </div>
                    <h5 class="card-title mt-4">Password</h5>
                    <div class="card card-body text-dark mt-3">
                        <p class="card-text">[[*{password}]]</p>
                    </div>
                    <h5 class="card-title mt-4">Roles</h5>
                    <div class="card card-body text-dark mt-3">
                        <p th:each="role : *{roles}" class="card-text">[[${role.name}]] </p>
                    </div>
                    <div th:if="*{tickets.size() > 0}">
                        <h5 class="card-title mt-4">Assigned Tickets</h5>
                        <div class="card card-body text-dark mt-3">
                            <p th:each="ticket : *{tickets}" class="card-text">[[${ticket.title}]] </p>
                        </div>
                    </div>

                    <a th:href="@{/users}" class="btn btn-danger mt-5">Go Back</a>

                </div>
            </div>
            <!-- End Ticket Card -->

        </div>
    </main>

    <!-- Popper -->
    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>