<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('New Category')}"></head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">

            <!-- Title -->
            <h1 class="text-light text-center mt-5"><i class="bi bi-tags-fill"></i> New Category +</h1>
            <!-- End Title -->

            <!-- Form -->
            <form class="col-12 col-md-8 col-lg-6 mx-auto" th:action="@{/categories/create}" method="post" th:object="${category}">

                <!-- Name -->
                <label class="form-label text-light mt-5 fs-3" for="name">Name</label>
                <input class="form-control" type="text" id="name" th:field="*{name}" placeholder="Insert name"
                    th:errorClass="is-invalid" required>

                <!-- Error -->
                <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback fs-5">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}">[[${err}]]</li>
                    </ul>
                </div>
                <!-- End Error -->
                <!-- End Name -->   

                <!-- Description -->
                <label class="form-label text-light mt-5 fs-3" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" th:field="*{description}" rows="4"
                    placeholder="Insert Description" th:errorClass="is-invalid" required></textarea>

                <!-- Error -->
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback fs-5">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}">[[${err}]]</li>
                    </ul>
                </div>
                <!-- End Error -->
                <!-- End Description -->

                <div class="d-flex justify-content-between my-5">
                    <a class="btn btn-danger" th:href="@{/categories}">Cancel</a>
                    <button class="btn btn-success" type="submit">Add Category +</button>
                </div>

            </form>
            <!-- End Form -->
    </main>

    <!-- Popper -->
    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>