<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Account')}"></head>

<body class="bg-dark">
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container">

            <!-- Title -->
            <h1 class="text-light text-center mt-5"><i class="bi bi-person-fill"></i> Account</h1>
            <!-- End Title -->

            <!-- User Card -->
            <div class="mx-auto card my-5 col col-12 col-md-10 col-lg-6 text-bg-dark border-light" th:object="${user}">
                <div class="card-body fw-medium">
                    <h5 class="card-title">UserName</h5>
                    <div class="card card-body text-dark mt-3">
                        <p class="card-text">[[*{userName}]]</p>
                    </div>
                    <h5 class="card-title mt-4">Password</h5>
                    <div class="card card-body text-dark mt-3">
                        <p class="card-text">[[*{password}]]</p>
                    </div>
                    <h5 class="card-title mt-4">Roles</h5>
                    <div class="card card-body text-dark mt-3">
                        <p th:each="role : *{roles}" class="card-text">[[${role.name}]]</p>
                    </div>
                    <h5 class="card-title mt-4">Status</h5>
                    <div class="card card-body text-dark mt-3">
                        <p class="card-text">[[*{userStatus.name}]] </p>
                    </div>
                    <div th:if="*{tickets.size() > 0}">
                        <h5 class="card-title mt-4">Assigned Tickets</h5>
                        <div class="card card-body text-dark mt-3">                          
                            <p th:each="ticket : *{tickets}" class="card-text fw-medium">Title: [[${ticket.title}]]<br>Status: [[${ticket.ticketStatus.name}]]</p> 
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a th:href="@{/users}" class="btn btn-danger mt-5">Go Back</a>
                        <a th:href="@{|/account/*{id}/edit|}" class="btn btn-primary mt-5"><i class="bi bi-pencil"></i> Edit Account</a>
                    </div>

                </div>
            </div>
            <!-- End User Card -->

        </div>
    </main>

    <!-- Popper -->
    <script th:replace="~{fragments/popper :: popper}"></script>
</body>

</html>